.container {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 100vh;
  font-family: Andale Mono, monospace;
  background-color: wheat;
  margin: 0;
}

h1 {
  margin-bottom: 20px;
}

.player {
  margin: 5px 0;
}